spring:
  application:
    name: motorRecomendaciones
  datasource:
    url: ${DB_URL_DEV}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      continue-on-error: true
      data-locations: classpath:data.sql
      encoding: UTF-8
    defer-datasource-initialization: true
  jackson:
    default-property-inclusion: non_null
server:
  port: 8080
  error:
    include-stacktrace: never

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration: ${ACCESS_TOKEN_EXPIRATION}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
